body{
    background: rgba(25, 25, 25, 0.90);
    margin-left: 1%;
    margin-right: 1%;
}
#hero{
    background-image: url(../images/Sea-Turtle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.navbar-light{
    background: none !important;
}
.nav-link{
    color: #f1c232 !important;
}
.jumbotron{
    background: none;
    color: white;
}
.side-nav{
   position: fixed !important;
}
.titleCard{
    background: black !important;
}
.card-title{
    background: black;
    color: white;
}
.bodyCard{
    background: #191919;
    color: white;
}
.footerCard{
    background: black !important;
    color: white;
}